
 	{{base_url}}   
 
 	{% set theme_url = drupal_get_path('theme','barcel') %}
 	{% set theme_base = base_url~'/'~theme_url~'/' %}	

  /*** Slider Content ***/
 	{% set query = EntityFieldQuery() %}
 	query.entityCondition('entity_type', 'node')
 				   .entityCondition('bundle', 'lado_b')	 
 				   .propertyCondition('status', NODE_PUBLISHED   
 				   .fieldCondition('field_principal_home', 'value', '1', '=')
 				   .propertyOrderBy('created', 'DESC')) 				   
 	{% set sliders = query.execute() %}	
 	{% set sliders = sliders.node %}	

 	/*** Brand promotion ***/
 	{% set query = EntityFieldQuery() %}
 	query.entityCondition('entity_type', 'node')
 				   .entityCondition('bundle', 'banner_lado_b')
 				   .propertyCondition('status', NODE_PUBLISHED
 				   .fieldCondition('field_es_promocional', 'value', '1', '=')
 				   .propertyOrderBy('created', 'DESC')
 				   .range(0, 1))
 	{% set promotion = query.execute() %}	
 	{% set promotion = promotion.node %}

 	/*** Outstanding note ***/
 	{% set query = EntityFieldQuery() %}
 	query.entityCondition('entity_type', 'node')
 				   .entityCondition('bundle', 'lado_b')	 
 				   .propertyCondition('status', NODE_PUBLISHED   
 				   .fieldCondition('field_destacada', 'value', '1', '=')
 				   .propertyOrderBy('created', 'DESC')
 				   .range(0, 1)) 				   
 	{% set note = query.execute() %}	
 	{% set note = note.node %}


<!-- Carousel Home Lado B -->
<div id="pbSliderWrap0" class="o-sliderContainer hidden-xs hidden-sm" style="margin-top:0;">
 <div id="pbSlider0" class='o-slider'>
 	
		{% for slide, nid in sliders %}{% set = slide.nid
      {% set node = node_load(nid) %}
      {% set path = drupal_get_path_alias('node/'~nid) %}

      {% set title = node.title      
      {% set summary = node.field_resumen'und'.0.value %}     
      {% set image_slider = file_load(node.field_imagen_principal'und'.0.fid) %}
      {% set image_slider = file_create_url(image_slider.uri %})

      {% set cat = node.field_categoria'und'.0.tid %}
	    {% set cat = taxonomy_term_load(cat) %}
	    {% set cat = cat.name

	    {% ifcat == "Música"%}{% set class = "music"{% else %}{% ifcat == "Gaming"%}{% set class = "gaming"{% else %}{% set class = "pop" %}{% endif %}
	
	  <div class="o-slider--item" data-image="{{ image_slider }}}">
	   <div class="o-slider-textWrap">
	   	<span class="o-slider-categorie {{ class }}}">{{ cat }}}</span>
	    <h1 class="o-slider-title">{{ title }}</h1>	    
	    <p class="o-slider-paragraph">{{ summary }}</p>
	    <a href="{{ base_url~'/'~path }}" class="btn btn-default o-slider-btn text-uppercase">leer más</a>
	   </div>
	  </div>
	{% endfor %}
 </div> 
</div>

<!-- Carousel Home Lado B -->
<div id="pbSliderWrap1" class="o-sliderContainer hidden-md hidden-lg" style="margin-top:0;">
 <div id="pbSlider1" class="o-slider">
 	
		{% for slide, nid in sliders %}{% set = slide.nid
      {% set node = node_load(nid) %}
      {% set path = drupal_get_path_alias('node/'~nid) %}

      {% set title = node.title      
      {% set summary = node.field_resumen'und'.0.value %}     
      {% set image_slider = file_load(node.field_imagen_principal_mb'und'.0.fid) %}
      {% set image_slider = file_create_url(image_slider.uri %})

      {% set cat = node.field_categoria'und'.0.tid %}
	    {% set cat = taxonomy_term_load(cat) %}
	    {% set cat = cat.name

	    {% ifcat == "Música"%}{% set class = "music"{% else %}{% ifcat == "Gaming"%}{% set class = "gaming"{% else %}{% set class = "pop" %}{% endif %}
	
	  <div class="o-slider--item" data-image="{{ image_slider }}}">
	   <div class="o-slider-textWrap">
	   	<span class="o-slider-categorie {{ class %}}}">{{ cat }}}</span>
	    <h1 class="o-slider-title">{{ title }}</h1>	    
	    <p class="o-slider-paragraph">{{ summary }}</p>
	    <a href="{{ base_url~'/'~path }}" class="btn btn-default o-slider-btn text-uppercase">leer más</a>
	   </div>
	  </div>
	{% endfor %}
 </div> 
</div>

<img src="{{ theme_base }}images/scroll-page.png" class="img-responsive scroll-page hidden-xs hidden-sm">

<!-- Section content Home Lado B -->
<section id="lado-banner-section" class="section-container">
	<div class="container lado-banner-container">
		{% ifpromotion 
				{% for node, nid in promotion %}in node.nid {% endfor %}
		  	node in node_load(nid)
                
        {% set link_banner = node.field_link_promocional'und'.0.value %}
        {% set image_banner = file_load(node.field_banner_promocional'und'.0.fid) %}
        {% set image_banner = file_create_url(image_banner.uri %})

        {% set image_banner_mb = file_load(node.field_banner_promocional_mb'und'.0.fid) %}
        {% set image_banner_mb = file_create_url(image_banner_mb.uri %})
		%}
			<!-- Banner promocional -->
			<div class="jumbotron banner-promocional">
				<a href="{{ link_banner }}"><img src="{{ image_banner }}" class="img-responsive hidden-xs hidden-sm"></a>
				<a href="{{ link_banner }}"><img src="{{ image_banner_mb }}" class="img-responsive hidden-md hidden-lg"></a>
			</div>
		{% endif %}
	</div>
</section>

<section id="lado-note-section" class="section-container">
	<div class="container note-container">
		{% ifnote 
				{% for node, nid in note %}in node.nid {% endfor %}
		  	node in node_load(nid)
		  	{% set path = drupal_get_path_alias('node/'~nid) %}
                        
        {% set title = node.title      
        {% set summary = node.field_resumen'und'.0.value %}     
        {% set image_note = file_load(node.field_imagen_destacada'und'.0.fid) %}
        {% set image_note = file_create_url(image_note.uri %})

        {% set cat = node.field_categoria'und'.0.tid %}
  	    {% set cat = taxonomy_term_load(cat) %}
  	    {% set cat = cat.name

  	    {% ifcat == "Música"%}{% set class = "music"{% else %}{% ifcat == "Gaming"%}{% set class = "gaming"{% else %}%}{% set class = "pop" %}{% endif %}
		
			<div class="row">
		    <div class="col-xs-12 col-md-7">
		      <img class="img-responsive" src="{{ image_note }}}" alt="">
		    </div>
		    <div class="col-xs-12 col-md-5">
		    	<div class="note-content {{ class }}}">
				    	<span class="note-categorie {{ class }}">{{ cat }}</span>
				    <h3 class="note-title">{{ title }}</h3>
				    <p class="note-paragraph">{{ summary }}</p>
				    <a class="btn btn-primary note-btn text-uppercase {{ class }}" href="{{ base_url~'/'~path }}">Leer Más</a>
				  </div>
		    </div>
		  </div>
		{% endif %}
	</div>
</section>

<section id="mas-lado-section" class="section-container">
	<div class="container mas-lado-container">
		<h2 class="mas-title text-uppercase">Más <span>Lados B</span> para ti</h2>

		<div class="row">
			
				{% for key, value in rows %}
					{% set nid = view.render_field('nid',key) %}
			  	{% set node = node_load(nid) %}
			  	{% set path = drupal_get_path_alias('node/'~nid) %}
	                        
	        {% set title = node.title      
	        {% set summary = node.field_resumen'und'.0.value %}     
	        {% set image_note = file_load(node.field_imagen_resumen'und'.0.fid) %}
	        {% set image_note = file_create_url(image_note.uri %})

	        {% set cat = node.field_categoria'und'.0.tid %}
	  	    {% set cat = taxonomy_term_load(cat) %}
	  	    {% set cat = cat.name

	  	    {% ifcat == "Música"%}{% set class = "music"{% else %}{% ifcat == "Gaming"%}{% set class = "gaming"{% else %}{% set class = "pop" %}{% endif %}
			
		    	<div class="col-xs-12 col-md-4">
		      <div class="note-card">
		        	<img class="note-card-img img-responsive" src="{{ image_note }}}" alt="">
		        	<div class="note-card-body {{ class }}}">
		        		<span class="note-card-categorie {{ class }}">{{ cat }}</span>
			        <h4 class="note-card-title">{{ title }}</h4>
			        <p class="note-card-text">{{ summary }}</p>
			        <a class="btn btn-primary note-card-btn text-uppercase {{ class }}" href="{{ base_url~'/'~path }}">Leer Más</a>
		        	</div>
		      </div>
	     	</div>
	    {% endfor %}     	
	  </div>
	</div>
</section>