 {{base_url}}   
 
 {% set theme_url = drupal_get_path('theme','barcel') %}
 {% set theme_base = base_url~'/'~theme_url~'/' %}


<section id="home-section" class="section-container">
	<div class="banner-home-container">
		<div class="row">
							{% set i = 0 %}
				{% for key, value in rows %}          
          {% set col = i == 0 ? 'col-home-left' : 'col-home-right' %}

          {% set nid = view.render_field('nid',key) %}
          {% set node = node_load(nid) %}
      
      	{% ifnode.type == "home" %}
	      		          link in node.field_link_page'und'.0.value 
	          image_bkg in  file_load(node.field_imagen_background'und'.0.fid)
	          {% set image_bkg = file_create_url(image_bkg.uri %})
	                   
	          {# if($node->title == "Una botanita"){ #}
	          	{% set image_logo = file_load(node.field_imagen_logo'und'.0.fid) %}
	          	{% set image_logo = file_create_url(image_logo.uri %})	          
		        {# } #}
	      	
					<div class="col-xs-12 col-md-6 col-md-offset-3 {{ col }}">
						<div class="content-scene">
							<a href="{{ base_url~'/'~link }}">
								<div class="scene">         
			            <div class="scene-one" data-depth="0.30">
			              <img src="{{ image_bkg }}" class="home-one img-responsive" />
			            </div>
			            
			            {# if($node->title == "Una botanita"): #}
				            <div class="scene-two" data-depth-x="-0.30">
				              <img src="{{ image_logo }}" class="home-two img-responsive" />
				            </div>
				          {# endif; #}
			          </div>
			        </a>
						</div>
					</div>
				{% else %}
											{% set link = node.field_link_banner'und'.0.value %}
						{% set image_bkg = file_load(node.field_banner'und'.0.fid) %}
						{% set image_bkg = file_create_url(image_bkg.uri %})

						{% set image_bkg_mb = file_load(node.field_banner_mobile'und'.0.fid) %}
						{% set image_bkg_mb = file_create_url(image_bkg_mb.uri %})
					
					<a href="{{ base_url~'/'~link }}" class="link-banner hidden-xs hidden-sm"><img src="{{ image_bkg }}" class="banner-barcel img-responsive" /></a>
					<a href="{{ base_url~'/'~link }}" class="link-banner hidden-md hidden-lg"><img src="{{ image_bkg_mb }}" class="banner-barcel banner-barcel-mb img-responsive" /></a>
				{% endif %}
			{% i = i + 1 %}{% endfor %}			
		</div>
	</div>
</section>