{%
	global $base_url; 
	
	$theme_url = drupal_get_path('theme','barcel');
	$theme_base = $base_url.'/'.$theme_url.'/';
	                                
	$image_banner =  file_load($node->field_imagen_banner['und'][0]['fid']);
	$image_banner = file_create_url($image_banner->uri);

	$image_banner_mb =  file_load($node->field_imagen_banner_mb['und'][0]['fid']);
	$image_banner_mb = file_create_url($image_banner_mb->uri);

	$nid = $node->nid;
	$title = $node->title;
	$author = $node->name;
	$summary = $node->field_resumen['und'][0]['value'];
	$date = format_date($node->created, 'custom', 'j M Y');
	$categorie = $node->field_categoria['und'][0]['taxonomy_term']->name;	
	$content = $node->field_contenido['und'][0]['value'];	

	$gallery = $node->field_imagen_contenido;
	$gallery_vid = $node->field_video_contenido;
	$no_gallery = (empty($gallery) && empty($gallery_vid)) ? 0 : 1;

	if($categorie == "Música"){ $class = "music"; } else if($categorie == "Gaming"){ $class = "gaming"; }else{ $class = "pop"; }

	$link_share = drupal_get_path_alias('node/'.$node->nid);
	$link_share = $base_url.'/'.$link_share;	

	/*** Outstanding notes ***/
	$tid = $node->field_categoria['und'][0]['taxonomy_term']->tid;

	$query = new EntityFieldQuery();
	$query->entityCondition('entity_type', 'node')
				      ->entityCondition('bundle', 'lado_b')	 
				      ->propertyCondition('status', NODE_PUBLISHED)     
				      ->fieldCondition('field_categoria', 'tid', $tid, '=')
				      ->propertyOrderBy('created', 'DESC')
				      ->range(0, 10);  				      
	$notes = $query->execute();	
	$notes = $notes['node']; 
	%}

<!-- Shares Links -->
<section class="shares-links-container section-container">
	<ul class="shares-links-mb hidden-md hidden-lg">
		<li class="share-item">
			<img src="{{ theme_base }}images/social-media/share-group-mobile.png" class="img-responsive share-img">
		</li>
		<li class="share-item">
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ link_share }}" onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"><span class="ico-share fb-ico"></span></a>
		</li>
		<li class="share-item">
			<a href="https://twitter.com/home?status={{ link_share }}" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"><span class="ico-share tw-ico"></span></a>
		</li>					
	</ul>
</section>

<!-- Section content Banner node -->
<section id="node-banner-section" class="section-container">
	<div class="node-banner-container">
		<!-- Banner promocional -->
		<div class="jumbotron banner-node">			
			<img src="{{ image_banner }}" class="img-responsive hidden-xs hidden-sm">
			<img src="{{ image_banner_mb }}" class="img-responsive hidden-md hidden-lg">
		</div>

		<img src="{{ theme_base }}images/scroll-page.png" class="img-responsive scroll-page">
	</div>
</section>

<section id="node-content-section" class="section-container">
	<div class="node-container container {{ class }}">
		<div class="row">
			<div class="col-xs-12">
				<span class="note-categorie {{ class }}">{{ categorie }}</span>
				<h1 class="note-title">{{ title }} <br> <small>{{ summary }}</small></h1>
				<span class="note-author"><i></i> Por {{ author~' / '~date }}</span>				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">	
				<div class="note-content-text">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{% if no_gallery %}
					<div id="note-gallery" style="display:none;">
						{% if gallery %}
							
								gallery  gallery.und

								{% for images, image in gallery %}  
									image_gallery  file_create_url(image.uri)
														
								<img alt="" src="{{ image_gallery }}" data-image="{{ image_gallery }}" data-description="">
							{% endfor %}
						{% endif %}

						{% if gallery_vid %}
							
								gallery  gallery_vid.und

								{% for videos, video in gallery %}  
									video_gallery_id  video.video_id								
								
								<img alt="" data-type="youtube" data-videoid="{{ video_gallery_id }}" data-description="">
							{% endfor %}
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

<section id="node-carousel-section" class="section-container">
	<div class="node-carousel-container container">
		<h2 class="mas-title text-uppercase">Más <span>Lados B</span> para ti</h2>

		<div class="row">
			<div class="owl-carousel owl-theme">
			
				{% for note, nid in notes %}   note.nid
			    	node  node_load(nid)
			    	path  drupal_get_path_alias('node/'~nid)
	                                                
	                title  node.title            
	                summary  node.field_resumen'und'.0.value            
	                image_note   file_load(node.field_imagen_resumen'und'.0.fid)
	                image_note  file_create_url(image_note.uri)

	                cat  node.field_categoria'und'.0.tid
	    	        cat  taxonomy_term_load(cat)
	    	        cat  cat.name

	    	        {% if cat == "Música"%} class  "music" {% endif %} {% else %}  {% if cat == "Gaming"%} class  "gaming" {% endif %}{% else %}  class  "pop" {% endfor %}
							
			       	<div class="item">
			            <div class="note-card">
			               	<img class="note-card-img img-responsive" src="{{ image_note }}" alt="">
			               	<div class="note-card-body {{ class }}">
			               		<span class="note-card-categorie {{ class }}">{{ cat }}</span>
				                <h4 class="note-card-title">{{ title }}</h4>
				                <p class="note-card-text">{{ summary }}</p>
				                <a class="btn btn-primary note-card-btn text-uppercase {{ class }}" href="{{ base_url~'/'~path }}">Leer Más</a>
			               	</div>
			            </div>
		          	</div>		        
	        {% endfor %}          	
	        </div>
	    </div>
	</div>
</section>

<!-- Shares Links -->
<ul class="shares-links-list hide">
	<li class="share-item">
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ link_share }}" onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"><span class="ico-share fb-ico"></span></a>
	</li>
	<li class="share-item">
		<a href="https://twitter.com/home?status={{ link_share }}" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"><span class="ico-share tw-ico"></span></a>
	</li>
	<li class="share-item">
		<img src="{{ theme_base }}images/social-media/share-group.png" class="img-responsive share-img">
	</li>
</ul>

<script type="text/javascript">	
	(function ($) {	
		var no_gallery = {{ no_gallery }};

		$(document).ready(function(){
			$('.owl-dots .owl-dot > span').addClass("{{ class }}");

			if(no_gallery){
				$("#note-gallery").unitegallery({
					gallery_width: 950, 
					gallery_mousewheel_role: false,
					theme_enable_text_panel: false
				});
			}
		});
	})(jQuery);
</script>