{{base_url}}    
	
	{% set theme_url = drupal_get_path('theme','barcel') %}
	{% set theme_base = base_url~'/'~theme_url~'/' %}

	{% set num_campaings = count(rows) %}


<section id="campaings-section" class="section-container">
	<div class="campaings-container">
		{% if(num_campaings > 1): %}
			<div class="floating arrow-down"></div>
		{% endif %}

		<div id="fullpage-campaings">
			 
				{% for rows, rows in key.value): %}
					{% set nid = view.render_field('nid',key) %}
                    {% set node = node_load(nid)%}
                    
                    {% set title = node.title %}                    
                    {% set color = node.field_color_de_fondo 'und'.0.'value' %}
                    {% set descripcion = node.field_descripcion_camp 'und'.0.'value' %}
                    {% set link = .node.field_link_campania 'und'.0.'value' %}
                    {% set image_banner =  file_load(node.field_imagen_campania 'und'.0.'fid') %}
                    {% set image_banner = file_create_url(image_banner.uri) %}

                    {% set brand_tax = node.field_marca_camp'und'.0.'tid' %}
                    {% setbrand_tax = taxonomy_term_load(brand_tax)%}
                    {% setbrand = (brand_tax.name == 'Chips') ? 'Chip´s' : brand_tax.name%}
			
		    	<div class="section" style="background-color: {{ color;}};">
		    		<div class="row row-campaing">
		    			<div class="col-xs-12 col-campaing">
		    				<a href="{{ link }}" class="link-campania" target="_blank">
		    					<img src="{{ image_banner }}" class="img-responsive banner-campaing">
		    				</a>
		    				<h2 class="head-campaing">{{brand}}<br><small>{{ title }}</small></h2>		
		    			</div>
		    		</div>
		    	</div>		    
		    {% endfor %}
		</div>
	</div>
</section>